<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Team 2</h2>
            <h4>BAN-693::CAPSTONE Project </h4>
        </div>
        <img src="https://media-exp1.licdn.com/dms/image/C4D03AQGSASbwpWl8wA/profile-displayphoto-shrink_400_400/0/1651617604352?e=1657152000&v=beta&t=SrKhTmqDM6JsILG0PrtCgwccYHwTmmdjxtV8WWQp3mc" alt="Soufiane FADIL">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts6">Departure Delay Vs Origin Airport</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts7">Arrival Delay Vs Origin Airport</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts8">Delay Among Airports/States</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts9">Flights With Usual Delays</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts10">Temporal Variability of Delays</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts4">Monthly Delay Trends & Reasons</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts5">Carrier Arrival and Departure Delays</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts61">Carrier Vs NAS Delay</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">FlightDelay Probability by HeatMAP</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts1">FlightDelay Probability by Geography</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts2">Airtime in Correlation with Distancegroup</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts3">FlightDelay Prediction by Carrier</a>
    
    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
       <b>Contacts</b> 
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Anjaneya Chowdary Kamepalli</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Deepthi Mounika Mandalaparty</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Fabjola Kasaj</a>
    
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        <b>Under the Guidance</b>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dr. Chongqi Wu</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/"> <i><small>chongqi.wu@csueastbay.edu</small></i> </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/"><small>PH: <i>+1(510)885-3568 </i> </small></a>

     

</mat-nav-list>